@charset "utf-8";

/* CSS Document */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

#daohang li a[href="/pngsucai/"] {
    display: none;
}


/* #daohang li:nth-child(2){display:none;} */

body {
    width: 100%;
    height: auto;
    /*background: #ffffff;*/
    background: #f8f8f9;
    -webkit-text-size-adjust: none;
}

div {
    text-align: left;
}

body {
    font: 14px/1.4em "Microsoft YaHei";
    color: #444;
    position: relative;
    /*background: #F8F8F9 !important;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
em {
    font-style: normal;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #444;
    max-height: 9999px;
}

a:hover {
    color: #f0c110;
    text-decoration: none;
}

fieldset,
img {
    border: 0;
}

label,
button {
    cursor: pointer;
}

select,
input,
textarea,
font {
    font-size: 12px;
    line-height: 1.2em;
}

input:focus {
    outline: none;
}

em,
i {
    font-style: normal;
}


/*--娓呴櫎娴姩
------------------------------------------------------------------------------------------*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    _zoom: 1;
}

.overflow {
    overflow: hidden;
    _zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.fl {
    display: block;
    float: left;
}

.fr {
    display: block;
    float: right;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.trans {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s
}


/* 澶撮儴 */

.top-bar {
    height: 35px;
    background-color: #f0f0f0;
    line-height: 35px;
}

.top-bar .wt-slogen {
    color: #8b8b8b;
    line-height: 35px;
}

.top-bar a {
    color: #8b8b8b;
    margin-left: 30px;
}

.top-bar a i {
    margin-right: 5px;
    color: #8b8b8b
}

.top-bar a:hover i,
.top-bar a:hover {
    color: #ff0000
}

.top-bar .sns:hover i {
    background-position: -46px -10px;
}

.wt-haeder {
    /*height: 130px;*/
    height: 90px;
    width: 100%;
    background-color: #fff;
}

.wt-haeder .wt-logo {
    position: relative;
    width: 151px;
    margin-top: 24px;
    margin-right: 106px;
}

.wt-haeder .wt-logo a {
    display: block;
    width: 151px;
    font-size: 75px;
    color: #ff0000;
    position: relative;
    z-index: 5;
}

.wt-haeder .wt-logo .return {
    font-size: 14px;
    display: block;
    position: absolute;
    width: 30px;
    text-align: center;
    line-height: 20px;
    /* background: url(../images/return.png) no-repeat center center; */
    padding: 18px 10px;
    color: #fff;
    top: -25px;
    right: -65px;
    cursor: pointer;
}

.wt-haeder .wt-logo img {
    width: 100%;
}

.wt-haeder .wt-logo:hover .tip {
    display: block
}

.wt-haeder .head-text {
    text-align: center;
    font-size: 18px;
    color: #3F3B3B;
    width: 645px;
    padding-top: 16px;
}

.wt-haeder .head-text .collect-text {
    display: inline-block;
    margin-top: 10px;
    border: 1px dashed #FF782D;
    background-color: #fff3ed;
    border-radius: 15px;
    color: #FF782D;
    line-height: 28px;
    padding: 0 15px;
}

.wt-top-search {
    width: 645px;
    margin-top: 32px;
    position: relative;
}

.wt-top-search .wt-search-div {
    height: 44px;
}

.wt-top-search .searchInput {
    display: block;
    width: 526px;
    height: 40px;
    padding: 0 10px 0 20px;
    border: #d31e1e 2px solid;
    color: #333;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    font-size: 14px;
    line-height: 40px;
}

.wt-top-search .search-link {
    width: 80px;
    text-align: center;
    background-color: #d31e1e;
    line-height: 44px;
    height: 44px;
    cursor: pointer;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
}

.wt-top-search .search-link i {
    display: inline-block;
    margin-left: 8px;
    margin-top: 14px;
    float: left;
    width: 16px;
    height: 16px;
    /* background: url(../images/search.png) no-repeat; */
    background-size: 100% auto;
}

.wt-top-search .search-link span {
    color: #fff;
    float: left;
    margin-left: 5px;
}

.wt-top-search .search-link:hover {
    opacity: 0.9;
}

.vip-recommend-word a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin: 0 5px;
}

.search {
    width: 600px;
    height: 50px;
    line-height: 46px;
    float: left;
    border: 2px solid #c30000;
    border-radius: 4px;
    margin-top: 20px;
    box-sizing: border-box;
    margin-left: 20px;
}

.search a {
    text-decoration: none;
    cursor: pointer
}

.search input {
    float: left
}

.sa {
    width: 78px;
    height: 46px;
    line-height: 46px;
    background: url(//img.lanrentuku.com/img/images/a.png) no-repeat -82px -79px;
    /* border:1px solid #ddd; */
    border-right: 1px solid #eee;
    position: relative;
    float: left;
    color: #666;
    padding-left: 18px;
    z-index: 9;
    font-size: 16px;
    box-sizing: border-box;
}

.sa_hover {
    background: url(//img.lanrentuku.com/img/images/a.png) no-repeat -82px -96px;
}

.lanmu {
    border: #ddd 1px solid;
    position: absolute;
    width: 70px;
    top: 46px;
    left: 5px;
    z-index: 9;
    display: none;
    text-align: center;
}

.lanmu a {
    height: 30px;
    line-height: 30px;
    display: block;
    padding-left: 0px;
    border-bottom: 1px solid #eee;
    background: #FFF;
    color: #666
}

.lanmu a:hover {
    background: #f6f6f6;
    color: #390
}

.sa_hover:hover .lanmu {
    display: block;
}

.sb {
    width: 428px;
    height: 46px;
    line-height: 46px;
    border: none;
    color: #CCC;
    padding-left: 10px!important;
    box-sizing: border-box;
    font-size: 16px;
}

.sb::placeholder {
    color: #959595;
}

.search .sc {
    background: #c30000 no-repeat 10px center;
    background-size: 18px auto;
    border: none;
    width: 86px;
    padding-left: 16px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    color: #fff;
    float: right;
}

.recommend {
    width: 615px;
    margin: 10px auto;
    height: 20px;
    overflow: hidden;
}

.recommend a {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    font-size: 12px
}

.recommend a:hover {
    color: #0ec5a1
}


/* 瀵艰埅 */

.wt-nav {
    background-color: #00A9C3;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 3;
}

.icon-decorate {
    width: 191px;
    height: 11px;
    position: absolute;
    top: -11px;
    left: 0;
    background: url(../images/navTop.png) 0 0
}

#daohang li {
    line-height: 50px;
    height: 50px;
    float: left;
    display: inline-block;
    padding: 0 28px;
    position: relative;
    vertical-align: top;
}

#daohang li a {
    color: #fff;
    font-size: 16px;
}

#daohang li .subnav {
    position: absolute;
    left: -1px;
    width: 340px;
    background: #fff;
    display: none;
    z-index: 1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 20px;
    /*margin-top: 4px;*/
    box-shadow: 0px 4px 10px #CCCCCC;
    border: none;
}

#daohang li .subnav .subnav-tit {
    color: #00AAC4;
    font-size: 16px;
    line-height: 28px;
}

#daohang li .subnav .subnav-con {
    padding: 10px 10px 0px;
    line-height: 34px;
}

#daohang li .subnav .subnav-con a {
    display: inline-block;
    font-size: 14px;
    color: #272727!important;
    padding: 0 16px;
    line-height: 34px;
}

#daohang li .subnav .subnav-con a:hover {
    color: #00AAC4!important;
}

#daohang li:hover {
    background-color: #E7F7F9;
    color: #00A9C3 !important
}

#daohang li:hover a {
    color: #00A9C3;
}

#daohang li:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%;
    margin-left: -25%;
    border-bottom: 2px solid #00A9C3;
}

#daohang li:hover .subnav {
    display: block
}

#daohang li.active {
    background-color: #E7F7F9;
    color: #00A9C3 !important
}

#daohang li.active a {
    color: #00A9C3;
}

#daohang li.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%;
    margin-left: -25%;
    border-bottom: 2px solid #00A9C3;
}

#daohang li.nav-more {
    width: 30px;
    height: 50px;
    text-indent: 999px;
    background: url(../images/nav_more.png) no-repeat center
}

#daohang li.nav-more:hover {
    background: #E7F7F9 url(../images/nav_more_h.png) no-repeat center;
}

#daohang li.nav-more:hover .nav-hover-banner {
    display: block
}

#daohang li.nav-hot .nav-hot-img {
    position: absolute;
    top: 0;
    right: 0;
}

#daohang .nav-hover-banner {
    position: absolute;
    display: none;
    left: -56px;
    top: 50px;
    width: 140px;
    z-index: 7;
    padding: 5px 0 3px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1)
}

#daohang .nav-hover-banner .more-item {
    color: #666;
    text-indent: 0;
    display: block;
    position: relative
}

#daohang .nav-hover-banner .more-item:hover {
    background: #1ec6d3;
    color: #fff
}

#daohang .nav-hover-banner .more-item:hover a {
    color: #fff
}

#daohang .nav-hover-banner .more-item:hover .more-item-list {
    display: block
}

#daohang .nav-hover-banner .more-item a {
    color: #666
}

#daohang .nav-hover-banner .more-item .more-item-list {
    position: absolute;
    display: none;
    right: -100px;
    top: -15px;
    width: 100px;
    background: #fff;
    padding: 15px 0 3px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1)
}

#daohang .nav-hover-banner .more-item .more-item-list a {
    display: block;
    color: #666;
    padding: 0;
}

#daohang .nav-hover-banner .more-item .more-item-list a:hover {
    background: #1ec6d3;
    color: #fff
}

footer {
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

footer.footer-bg {
    background-color: #000
}

footer .footer-content {
    width: 1160px;
    text-align: left;
    margin: auto;
    background: #111;
    padding: 20px
}

footer .footer-box {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%
}

footer .footer-item {
    font-size: 14px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: calc(100% / 5.1);
    margin-top: 20px;
    letter-spacing: 1px
}

footer .footer-item h3 {
    font-size: 16px;
    color: #bfbdbd;
    font-weight: 400;
    margin-top: 0
}

footer .footer-item li {
    margin-top: 11px
}

footer .footer-item a {
    color: #8c8889
}

footer .footer-item a:hover {
    color: #fe4066
}

footer .footer-item .footer-logo {
    font-size: 24px;
    color: #000;
    line-height: 1
}

footer .footer-item .footer-logo i {
    font-size: 24px;
    color: #fe4066;
    font-weight: 600
}

footer .footer-item p {
    color: #8c8889;
    margin-top: 10px
}

footer .footer-item .footer-icon span {
    display: inline-block;
    position: relative;
    margin-right: 16px
}

footer .footer-item .footer-icon span i {
    font-size: 18px;
    color: #bfbdbd
}

footer .footer-item .footer-icon span i:hover {
    color: #8c8889
}

footer .footer-item .footer-icon span img {
    display: none;
    position: absolute;
    top: 30px;
    left: -56px
}

footer .footer-item .footer-icon .weixin:hover img {
    display: block
}

footer .footer-foot {
    margin-top: 70px
}

footer .footer-foot p {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    color: #757171
}

footer .footer-foot p a {
    color: #757171;
    margin-right: 20px
}

footer .footer-foot p a:hover {
    color: #fe4066
}

footer .footer-foot .foot-last {
    float: right
}

.footer-web {
    display: block
}

.footer-phone {
    display: none;
    padding: 50px 0 0;
    background-color: #fff
}

.footer-phone .footer-content {
    width: 100%
}

.footer-phone .footer-header {
    font-size: 24px;
    color: #000;
    padding: 20px 4%
}

.footer-phone .footer-header i {
    font-size: 24px;
    color: #fe4066;
    font-weight: 600
}

.footer-phone .footer-header a {
    display: block;
    color: #000
}

.footer-phone .footer-box {
    background-color: #f7f4f5
}

.footer-phone .footer-item {
    width: 100%;
    margin-top: 0;
    line-height: 48px;
    display: block
}

.footer-phone .footer-item h3 {
    height: 48px;
    margin: 0;
    box-sizing: border-box;
    padding: 5px 38px 0;
    text-align: left;
    overflow: hidden
}

.footer-phone .footer-item h3 i {
    float: right
}

.footer-phone .footer-item ul {
    display: none;
    background-color: #fff
}

.footer-phone .footer-item ul li {
    text-align: left;
    padding-left: 38px
}

.footer-phone .footer-item a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

.footer-phone .footer-foot {
    background-color: #f7f4f5;
    margin: 0;
    padding: 20px 4% 80px
}

.footer-phone .footer-foot p {
    display: block;
    text-align: left;
    margin-top: 20px
}

.in-ne dd,
.in-ps dd,
.in-tu dd,
.in-pn dd,
.in-j dd,
.list-pic dd,
.list-pngjs dd,
.in-box dd,
.list-qq dd,
.list-pngjs dd {
    position: relative;
}

.in-list-info {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 186px !important;
    background-color: rgba(0, 0, 0, .5);
    border: none !important;
}

.in-list-info .info-btn {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 20%;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #1ec6d3;
    border-radius: 20px;
}

.in-list-info .info-btn:hover {
    background-color: #0dbbd6;
}

.in-ne dd:hover .in-list-info,
.in-ps dd:hover .in-list-info,
.in-tu dd:hover .in-list-info,
.in-pn dd:hover .in-list-info,
.in-j dd:hover .in-list-info,
.in-ne dd:hover .in-list-info,
.list-pic dd:hover .in-list-info,
.in-box dd:hover .in-list-info,
.list-qq dd:hover .in-list-info,
.list-pngjs dd:hover .in-list-info {
    display: block !important;
}

.in-pn dd .in-list-info,
.in-j dd .in-list-info,
.list-pngjs dd .in-list-info {
    height: 142px !important;
}

.list-pic dd .in-list-info,
.in-box dd .in-list-info,
.list-qq dd .in-list-info {
    height: 162px !important;
}

.list-pngjs dd .in-list-info {
    height: 142px !important;
}

.search-box {
    text-align: center;
    padding: 56px 0 36px;
}

.s_b_search {
    width: 750px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #00A9C3;
    border-radius: 4px;
    line-height: 46px;
    font-size: 16px;
    position: relative;
}

.s_b_search input {
    float: left;
}

.s_b_search .s_b_bar {
    position: absolute;
    left: 10px;
    top: -43px;
    font-size: 16px;
    color: #454545;
    text-align: center;
}

.s_b_search .s_b_bar span {
    display: inline-block;
    font-size: 16px;
    color: #454545;
    text-align: center;
    line-height: 36px;
    padding: 0 15px;
    cursor: pointer;
}

.s_b_search .s_b_bar span.active {
    background-color: #B4E8F0;
    color: #00A9C3;
    border-radius: 4px 4px 0 0;
}

.s_b_search .s_b_bar span:hover {
    background-color: #B4E8F0;
    color: #00A9C3;
    border-radius: 4px 4px 0 0;
}

.s_b_search .s_b_q::placeholder {
    color: #959595;
}

.s_b_search .s_b_q {
    width: 656px;
    height: 46px;
    line-height: 46px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}

.s_b_search .s_b_sc {
    background: #00A9C3 url(../images/search.png) no-repeat 12px center;
    background-size: 18px auto;
    border: none;
    width: 90px;
    padding-left: 22px;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    color: #fff;
    float: right;
}

.s_b_search .s_b_recommend {
    padding: 10px 0px 20px 10px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
}

.s_b_search .s_b_recommend .clicksum {
    font-size: 14px;
    color: #787878;
    margin-left: 10px;
}

.s_b_search .s_b_recommend .clicksum:first-child {
    margin-left: 0;
}

.s_b_search .s_b_recommend .clicksum:hover {
    color: #00A9C3;
}


/*棣栭〉鏂板浜岀骇鐭㈤噺瀵艰埅*/

.second-nav-box {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.second-nav {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 18px 0;
    box-sizing: border-box;
}

.second-nav .second-nav-l,
.second-nav .second-nav-r {
    width: 50%;
    float: left;
    height: auto;
    box-sizing: border-box;
}

.second-nav .second-nav-l {
    border-right: 1px solid #EAEAEA;
}

.second-nav .second-nav-item {
    width: 100%;
    height: auto;
    padding: 0px 24px;
    box-sizing: border-box;
}

.second-nav-item .s-n-i-title {
    font-size: 16px;
    color: #00A9C3;
}

.second-nav-item .s-n-i-title i {
    display: inline-block;
    width: 3px;
    height: 16px;
    background-color: #81D5E2;
    vertical-align: -2px;
    margin-right: 10px;
}

.second-nav-item .s-n-i-comtent {
    margin-top: 14px;
}

.second-nav-item .s-n-i-comtent table {
    width: 100%;
}

.second-nav-item .s-n-i-comtent a {
    color: #363636!important;
    line-height: 26px;
    padding: 0 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block;
    border-radius: 3px;
}

.second-nav-item .s-n-i-comtent a:hover {
    color: #ffffff!important;
    background-color: #00A9C3;
}


/*鎼滅储鐑瘝鎺ㄨ崘 2020-08-20*/


/*.search-hot-box{*/


/*    width: 740px;*/


/*    height: auto;*/


/*    background:rgba(255,255,255,1);*/


/*    box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.15);*/


/*    border-radius:0px 0px 4px 4px;*/


/*    position: absolute;*/


/*    left: 4px;*/


/*    z-index: 1;*/


/*    margin-top: -47px;*/


/*    box-sizing: border-box;*/


/*    display: none;*/


/*}*/


/*.search-hot-box ul{*/


/*    padding: 10px 0;*/


/*}*/


/*.search-hot-box ul li{*/


/*    line-height: 30px;*/


/*    padding: 0 20px;*/


/*    box-sizing: border-box;*/


/*}*/


/*.search-hot-box ul li a{*/


/*    display: block;*/


/*    line-height: 30px;*/


/*    font-size: 14px;*/


/*    color: #333333!important;*/


/*}*/


/*.search-hot-box ul li a i{*/


/*    display: inline-block;*/


/*    width: 16px;*/


/*    height: 16px;*/


/*    text-align: center;*/


/*    line-height: 16px;*/


/*    font-size: 12px;*/


/*    color: #ffffff;*/


/*    background-color: #999999;*/


/*    border-radius: 3px;*/


/*    margin-right: 10px;*/


/*}*/


/*.search-hot-box ul li:nth-child(1) a i{*/


/*    background-color: #FF7F7F;*/


/*}*/


/*.search-hot-box ul li:nth-child(2) a i{*/


/*    background-color: #FFB57F;*/


/*}*/


/*.search-hot-box ul li:nth-child(3) a i{*/


/*    background-color: #73E673;*/


/*}*/


/*.search-hot-box ul li:hover{*/


/*    background-color: #EBF8FA;*/


/*}*/


/*鎼滅储鐑瘝鎺ㄨ崘 2020-08-20 end*/


/*2020-09-03 鎼滅储鏍忔牱寮忚皟鏁�*/

#daohang li {
    padding: 0!important;
}

#daohang li a {
    display: block;
    line-height: 50px;
    padding: 0 28px;
}

.search {
    position: relative;
}

.sa {
    width: 105px!important;
    padding-left: 12px!important;
}

.sa_hover {
    background: url(https://www.lanrentuku.com/images/icon/arrows.png) no-repeat 83px 20px!important;
}

.lanmu {
    width: 103px!important;
    left: 0!important;
}

.sb {
    width: 405px!important;
    /*width: 496px!important;*/
}

.head-text {
    display: none;
}

.search-box {
    display: none;
}

.search-hot-box {
    width: 600px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    left: -2px;
    z-index: 4;
    margin-top: 49px;
    box-sizing: border-box;
    padding: 22px 25px;
    line-height: 30px;
    display: none;
}

.search-hot-box .shb-title {
    font-size: 16px;
    color: #00A9C3;
}

.search-hot-box .shb-con {
    margin-top: 10px;
}

.search-hot-box .shb-con a {
    color: #454545;
    font-size: 14px;
    margin-left: 22px;
}

.search-hot-box .shb-con a:first-child {
    margin-left: 0;
}

.search-hot-box .shb-con a:hover {
    color: #00A9C3;
}

#b {
    margin-top: 30px;
}


/*2020-09-03 鎼滅储鏍忔牱寮忚皟鏁�  end*/


/*2020-09-03 鎼滅储鍒嗙被鏍峰紡璋冩暣*/

#s0:hover {
    color: #00A9C3;
}

#x2 {
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    /*top: 50px;*/
    padding: 10px 0px;
}

#x2 a {
    color: #3E4040;
    border-bottom: none;
    line-height: 36px;
    height: 36px;
}

#x2 a:hover {
    color: #ffffff;
    background-color: #00A9C3;
}


/*2020-09-03 鎼滅储鍒嗙被鏍峰紡璋冩暣 end*/

.in-ne {
    height: auto;
}

.in-nes {
    width: 1224px;
    height: auto;
}

.in-nes dt {
    width: 1224px;
    height: 40px;
    text-align: center;
    background: url(//img.lanrentuku.com/img/images/i.png) repeat-x 0 -560px;
    margin-top: 10px;
    position: relative;
}

.in-nes dt .div {
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    padding: 0 15px;
    color: #111111;
    font-weight: bold;
    position: absolute;
    left: 0;
    background-color: #f8f8f9;
}

.in-nes dt .div:hover {
    color: #00a4be;
}

.in-nes dt .div_more {
    position: absolute;
    top: 0;
    right: 0;
    color: #272727;
    background-color: #f8f8f9;
    padding: 0 20px;
    line-height: 40px;
}

.in-nes dt .div_more:hover {
    color: #00AAC4!important;
}

.in-nes dd {
    position: relative;
    width: 282px;
    height: 188px;
    margin: 12px 24px 18px 0px;
    float: left;
    display: inline;
    border-radius: 5px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.in-nes dd a {
    color: #666;
    height: 100%;
    line-height: 188px;
    display: block;
    overflow: hidden;
}

.in-nes dd img {
    width: 100%;
    height: 100%;
    display: block;
}

.in-list-tier {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 188px !important;
    line-height: 188px!important;
    background-color: rgba(0, 0, 0, .5);
    border: none !important;
}

.in-list-tier p {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.in-nes dd:hover .in-list-tier {
    display: block !important;
}


/*鎼滅储缁撴灉椤靛姞鍏ュ垎绫荤瓫閫�*/

.slogan-nav {
    width: 100%;
    height: auto;
    margin: 20px 0 14px;
    font-size: 14px;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.slogan-nav span {
    background: none;
    width: auto;
    height: auto;
    float: left;
    line-height: 26px;
}

.slogan-nav p {
    width: 94%;
    margin-left: 20px;
    box-sizing: border-box;
}

.slogan-nav a {
    color: #363636;
    text-decoration: none;
    margin-right: 16px;
    line-height: 26px;
    display: inline-block;
}

.slogan-nav a:last-child {
    margin-right: 0;
}

.slogan-nav a.cate-active {
    color: #ffffff;
    padding: 0 8px;
    background-color: #00a9c3;
    border-radius: 3px;
}

.slogan-nav a.cate-active:hover {
    color: #ffffff;
}

.slogan-nav a.active {
    color: #ffffff;
    padding: 0 8px;
    background-color: #00a9c3;
    border-radius: 3px;
}

.slogan-nav a:hover {
    color: #00AAC4;
}

.slogan-nav a.active:hover {
    color: #ffffff;
}